<div id="service_table_btn">
    <button type="button" class="btn btn-success"  id="add_btn" >新增</button>
    <button type="button" class="btn btn-warning" style="display: none;" id="del_btn">删除</button>
</div>
<div class="table-responsive">
    <table id="service_table">
    </table>
</div>
{include file='goods_manage/form'/}
{include file='goods_manage/sales_change_log'/}

<script>

    (function(){
        var $table = $("#service_table");
        var $addBtn = $('#add_btn');
        var $delBtn = $('#del_btn');
        var $addBtnDlg = $('#service_info_dlg');
        var $salesChangeDlg = $("#sales_change_dlg");
        var $salesLogTb = $("#sales_change_log_tb");
        //服务器信息弹框
        var addDialog = new  BootstrapDialog({
            title:'追踪商品信息',
            message:function(){
                var msg = $addBtnDlg.html();
                $addBtnDlg.remove();
                return msg;
            },
            nl2br:false,
            data:{},
            onshown:function(dialogRef){
                var $form = $('#service_info_fm');
                if(!$.is_null(dialogRef.data)){ //修改 表单赋值
                    $form.formLoad(dialogRef.data);
                }
                var $overdue = $("#overdue");
                $overdue.datetimepicker({
                    format: 'yyyy-mm-dd hh:ii',
                    language:'zh-CN',
                    autoclose:1,
                });
            },
            buttons:[{
                id:'btn-ok',
                label:'保存',
                cssClass:'btn-primary',
                action:function(dialogRef){
                    var $form = $('#service_info_fm');
                    $form.formSubmit({
                        url:"{:url('save')}",
                        success:function(result){
                            if(result.success){
                                dialogRef.close();
                                $table.bootstrapTable('refresh');
                            }
                            $.dialogMsg({message:result.msg});
                        }
                    });
                },
            },
                {
                    id:'btn-false',
                    label:'取消',
                    cssClass:'btn-default',
                    action:function(dialogRef){
                        dialogRef.close();
                    }
                },]
        });

        var salesLog = new  BootstrapDialog({
            title:'24小时销量变化记录',
            message:function(){
                var msg = $salesChangeDlg.html();
                $salesChangeDlg.remove();
                return msg;
            },
            nl2br:false,
            data:{},
            onshown:function(dialogRef){
                $.get("{:url('/GoodsManage/getSaleLog')}",{goods_id:dialogRef.data.goods_id},function (res) {
                    $("#sales_change_log_tb").bootstrapTable('load', res);
                })
            },
            buttons:[
                {
                    id:'btn-false',
                    label:'取消',
                    cssClass:'btn-default',
                    action:function(dialogRef){
                        dialogRef.close();
                    }
                }]
        });
        $salesLogTb.bootstrapTable({
            idField:'id',
            striped:true,
            pagination:true,
            pageSize:15,
            sidePagination:'client',
            dataType:'json',
            columns:[
                {field:'create_time',title:'统计时间',align:'center'},
                {field:'monthly_sales',title:'月销量',align:'center'},
                {field:'increase',title:'距上次统计增幅',align:'center'},
            ],
        });
        $table.bootstrapTable({
            url:"{:url('/GoodsManage/getList')}",
            idField:'id',
            search:true,
            searchOnEnterKey:false,
            clickToSelect:true,
            striped:true,
            pagination:true,
            pageSize:15,
            toolbar:'#service_table_btn',
            columns:[
                {field:'checked',title:'选择',checkbox:true},
                {field:'cover_img',title:'首图',align:'center',formatter:function(value,row,index){
                        if(value == ''){
                            return value;
                        }
                        return '<img src="'+value+'_60x60.jpg">';
                    }},
                {field:'own_goods_id',title:'自己商品ID',align:'center'},
                {field:'other_goods_id',title:'跟踪商品ID',align:'center'},
                {field:'title_is_change',title:'商品标题是否发生改变',align:'center'},
                {field:'own_title',title:'自己商品标题',align:'center',formatter:function(value,row,index){
                    if(value == ''){
                        return value;
                    }
                    return '<a target="_blank" href="'+row.own_goods_url+'">'+value+'</a>';
                }},
                {field:'other_title',title:'跟踪商品标题',align:'center',formatter:function(value,row,index){
                        if(value == ''){
                            return value;
                        }
                        return '<a target="_blank" href="'+row.other_goods_url+'">'+value+'</a>';
                    }},
                {field:'monthly_sales',title:'跟踪商品月销量',align:'center'},
                {field:'show_sales_log',title:'24小时销量记录',align:'center',formatter:function(value,row,index){
                    return '<button type="button" class="btn btn-success">查看</button>';
                }},
                {field:'other_update_time',title:'跟踪商品更新时间',align:'center',sortable:true},
            ],
            onDblClickRow:function(row,$element,field){
                addDialog.data = row;
                addDialog.open();
                addDialog.setTitle('修改追踪商品信息');
            },
            onClickCell:function (field, value, row, $element) {
                salesLog.data = {
                    "goods_id":row.other_goods_id
                }
                salesLog.open();
            }
        });

        //新增操作
        $addBtn.click(function(){
            addDialog.data = {};
            addDialog.open();
            addDialog.setTitle('新增追踪商品信息');
        });

        $delBtn.click(function(){
            var selectRow = $table.bootstrapTable('getSelections');
            if($.is_null(selectRow)){
                return false;
            } else {
                var pkArr = [];
                $.each(selectRow,function(k,v){
                    pkArr.push(v.id);
                });
                $.post("{:url('delData')}",{pkArr:JSON.stringify(pkArr)},function(result){
                    if(result.success){
                        $table.bootstrapTable('refresh');
                    }
                    $.dialogMsg({message:result.msg});
                });
            }
        });


    })(jQuery,window,document)

</script>


